@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.bg-font {
  background-image: url("/photo1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
}