@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #ef4444, #9333ea);
  border-radius: 10px;
}


html {
  scroll-behavior: smooth;
}

body {
  font-family: "Google Sans Code";
}

.web-container {
  width: 90%;
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: 1440px) {
  .web-container {
    max-width: 1440px;
    margin: 0 auto;
  }
}